[Desktop Entry]
Type=Application
Name=SkorionOS Tool
Comment=A tool to manage SkorionOS
Exec=sk_chos_tool
Icon=com.honjow.sk-chos-tool
Categories=System;Utility;
Terminal=false