[Desktop Entry]
Type=Application
Name=SK ChimeraOS Tool
Comment=A tool to manage SK ChimeraOS
Exec=sk_chos_tool
Icon=com.honjow.sk-chos-tool
Categories=System;Utility;
Terminal=false